@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root {
    --fontLogo: "Faculty Glyphic", sans-serif;
    --fontGeneral: "Roboto Flex", sans-serif;
    --bgColor: #2a3866;
    --secondColor: #3b4568;
    --mainColor: #e7ebf5;
    --searchBG: #dcdfe99f;
    --strongColor: #0a121b;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(to top, var(--strongColor), var(--bgColor));
    font-family: var(--fontGeneral);
    height: 100vh;
}

.header_back {
    background-image: url(../assets/head_background.jpg);
    background-size: cover;
    background-position: top 30% center;
}

.head_cont {
    background-image: linear-gradient(to top, var(--bgColor) 5%, transparent);
    display: flex;
    padding: 8px;
    justify-content: space-between;
    align-items: end;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: end;
}

.img_logo {
    width: 85px;
}

.logo_text {
    color: var(--mainColor);
    font-family: var(--fontLogo);
    font-size: 1.5rem;
}

.search_input {
    background: var(--searchBG);
    border: 2px solid var(--mainColor);
    border-radius: 8px;
    padding: 4px;
    outline: none;
    color: var(--bgColor);
    text-align: center;
}

.search_input::placeholder{
    color: var(--bgColor);
}

.section_home {
    text-align: center;
    color: var(--mainColor);
    padding: 24px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.card {
    width: 80vw;
    background-color: var(--mainColor);
    border-radius: 8px;
    overflow: hidden;
    transition: 250ms;
}

.card-title {
    background-color: var(--strongColor);
}

.card-title-text {
    text-align: center;
    text-transform: uppercase;
    color: var(--mainColor);
    font-size: 1.2rem;
    padding: 8px;
}

.card-img {
    margin: 0 -20px;
    height: 130px;
}

.manga {
    background-image: url(../assets/manga_background.jpg);
    background-size: cover;
    background-position: center 30%;
}

.anime {
    background-image: url(../assets/anime_background.jpeg);
    background-size: cover;
    background-position: bottom;
}

.card-desc {
    text-align: center;
    padding: 12px;
    color: var(--secondColor);
    border-radius: 0 0 8px 8px;
}

.card:active {
    transform: scale(1.08);
    box-shadow: 0 3px 4px black;
}